<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="/dev/input/js0" />

  <rosparam command="load" file="$(find moon_control)/config/common/teleop.yml" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>

</launch>
